CURRENCY_API_KEY=cur_live_YsuyuEEm9ZHDji7qnozjyksI9zKevUPFtE7MW0LF
BASE_URL=https://api.currencyapi.com/v3
DB_NAME=currency_exchange
DB_USER=user
DB_PASSWORD=password
DB_HOST=localhost
DB_CONTAINER_NAME=currency_exchange_db
DB=db
DB_PORT=5432
PWD_ALGORYTHM=bcrypt
ALGORYTHM=HS256
SECRET=U2FsdGVkX1/QbSiez3Pp72VdjbBliM7OviEPTgYcqc
ACCESS_TOKEN_EXPIRE_MINUTES=15
